@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #6d1abb;
}

/* headings and logo */

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:#894ac5
}

h3 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 110%;
    letter-spacing: 6px;
    color:#894ac5;
    margin-top: 75px;
    padding-left: 45px;
}

#header-section {
    display: inline-flex;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 45px;
    margin-top: 35px;
}

.subheading {
    float: inherit;
}

#menu {
    font-size: 110%;
    text-transform: uppercase;
    margin-top: 95px;
    letter-spacing: 6px;
    width: 100%;
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 45px;
    float: right;
}

#menu a {
    text-decoration: none;
    color:inherit
}

#menu a:hover {
    border-bottom: 0.5px solid #311a47;
}

/* home-image */

.home-image {
    margin-top: 15px;
    height: 825px;
    width: 100%;
    background: url(../css/images/home-page-full.png) no-repeat center center;
}

/* footer and media links */

p {
    float: left;
    line-height: 95px;
    margin-left: 20px;
}

.social-media {
    float: right;
    list-style-type: none;
    line-height: 95px;
    margin-right: 20px;
    
}

.social-media > li {
    display: inline;
    letter-spacing: 50px;
    font-size: 150%;
}

.social-media i {
    color:#6d1abb;
    text-decoration: none;
    float: inherit;
}
