@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #6d1abb;
}

/* headings and logo */

header {
    padding: 35px 35px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 400%;
    color: #894ac5;
}

h3 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 200%;
    letter-spacing: 3px;
    color: #894ac5;
}

#subheading h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
}

.left {
    float: left;
    margin: 65px;
}

.right {
    float: right;
    margin: 20px;
}

ul {
    list-style-type: none;
    background-color: none;
}

.right li {
    display: table-header-group;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 200%;
    margin-top: 25px;
    text-align: right;
}

.right a {
    text-decoration: none;
    color: inherit;
}

.right a:hover {
    background-color: rgba(179, 128, 223, 0.4);
    border-radius: 3px;
}

.active {
    background-color: rgba(179, 128, 223, 0.4);
    border-radius: 3px;
}

#home-image {
    margin-top: 150px;
    height: 1200px;
    width: 100%;
    background: url(../css/images/hero_image_nv.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    position: relative;
}

#subheading {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    width: 600px;
    height: auto;
    padding: 25px;
    background-color: rgba(155, 88, 213, 0.8);
    border-radius: 5px;
    left: 20px;
    top: 50px;
}


/* footer and media links */

footer {
    background-color: #6d1abb;
    padding: 3px;
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 35px;
}

footer>a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 150%;
    letter-spacing: 50px;
    float: right;

}

footer>p {
    color: white;
    padding: 10px 15px;
    font-size: 100%;
    text-align: left;
}

/* About page */

.container {
    margin-right: 5px;
    margin-left: 5px;
}

.text {
    margin: 15% 2% 5% 2%;
    text-align: left;
    padding: 10px 10px 10px 10px;
    width: 60%;
    position: absolute;
}

.container {
    font-size: large;
}

.text h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

ol {
    margin-top: 10px;
    margin-left: 15px;
}

.text li {
    text-transform: none;
    font-size: large;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 25px;
}

.body img {
    width: 25%;
    height: auto;
    padding: 15% 1% 5% 1%;
    border-radius: 100px;
    position: relative;
    left: 10px;
    bottom: 50px;
}

/* Abc */

#alphabet {
    margin: 230px 150px;
}

.borderthin {
    border: 1.5px solid #7601e4;
    padding: 5px;
    border-radius: 20px;
}

/* Sign Up page */

/* Form */

.form-section {
    clear: left;
    background: url("./images/hands.jpg");
    background-size: cover;
    height: 800px;
}

.form-section h5 {
    color: white;
    font-style: oblique;
    font-weight: lighter;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: white;
    font-size: larger;
    background-color: rgba(155, 88, 213, 0.8);
    width: 650px;
    position: absolute;
    left: 10%;
    padding: 25px;
    border-radius: 10px;
}

.signup-form h2 {
    color: white;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 10px;
}

.text-input:hover {
    border-color: #6d1abb;
}

.join-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 95%;
    background-color: #6d1abb;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.719);
    color: white;
    display: block;
    float: right;
    font-family: 'Montserrat';
}

.join-button:hover {
    background-color: white;
    color: #6d1abb;
}

#materials,
#video,
#workshops {
    display: list-item;
    text-align: center;
    vertical-align: bottom;
}

h2 i {
    font-size: 150%;
}

/* Media queries */

/* Large screens 1200px wide and down */

@media screen and (max-width: 1200px) {

    h1 {
        font-size: 300%;
    }

    h3 {
        text-align: justify;
        font-size: 140%;
        letter-spacing: 0;
    }

    .right li {
        font-size: 175%;
    }

    #home-image {
        margin-top: 130px;
        height: 1100px;
    }

    #subheading h3 {
        position: relative;
        margin: 0;
    }

    #subheading {
        font-size: 100%;
        width: 600px;
        height: auto;
        padding: 30px 15px 25px 25px;
        left: 0;
    }

    footer>a {
        font-size: 165%;
    }

    .text {
        padding: 20px 20px 5px 25px;
        width: auto;
    }

    .body img {
        width: auto;
        height: 600px;
        padding: inherit;
        margin: 55% 30% 0;
        border-radius: 20px;
        position: relative;
    }

    .form-section {
        clear: both;
        height: 850px;
    }

    .form-section label {
        font-size: 80%;
        display: block;
    }

    .signup-form {
        margin: 15% 0 0 10%;
        font-size: 130%;
        width: 550px;
        padding: 35px;
    }

    .signup-form h2 {
        font-size: 120%;
    }

    .text-input {
        width: 85%;
        height: 20px;
    }

    h2 i {
        font-size: 120%;
    }
}

/* Medium screens - 850px and down */
@media screen and (max-width: 850px) {

    h1 {
        font-size: 250%;

    }

    h3 {
        font-size: 100%;
        letter-spacing: 0;
        position: absolute;
        margin-top: 15px;
    }

    .left {
        margin: 5px;
    }

    #subheading h3 {
        position: relative;
        margin: 0;
    }

    .right li {
        font-size: 130%;
        padding-top: 15px;
    }

    .right a:hover {
        border-radius: 5px;
    }

    .active {
        border-radius: 5px;
    }

    #subheading {
        font-size: 130%;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 4px;
        width: 350px;
        height: 110px;
        padding: 25px 15px 5px 25px;
        background-color: rgba(155, 88, 213, 0.8);
        left: 0;
    }

    #home-image {
        margin-top: 12%;
    }

    .text {
        margin: 15% 5% 5%;
        padding: 1%;
        width: auto;
        font-size: medium;
        position: initial;
    }

    .body img {
        width: auto;
        height: auto;
        padding: 5% 20%;
        border-radius: 20px;
    }

    #alphabet {
        margin: 150px 0 10% 8%;
    }

    .form-section {
        clear: left;
        height: 750px;
        padding-bottom: 50px;
        margin-top: 100px;
    }

    .signup-form {
        margin: 10% 10% 10% 0;
        font-size: 150%;
        width: 550px;
        padding: 30px;
    }

    .join-button {
        font-size: 80%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.719);
    }

    /* Smaller screens */
    @media screen and (max-width: 700px) {

        header {
            padding: 35px 35px;
        }

        h1 {
            font-size: 200%;
            text-align: left;
        }

        h3 {
            font-size: 110%;
        }

        .left {
            margin: 15px 5px;
        }

        .right {
            margin: 0;
        }

        #subheading>h3 {
            display: contents;
        }


        .right li {
            font-size: 125%;
        }

        .right a:hover {
            border-radius: 5px;
        }

        .active {
            border-radius: 5px;
        }

        #home-image {
            margin-top: 50px;
        }


        #subheading {
            font-size: 110%;
            width: 350px;
            height: 90px;
            padding: 25px 15px 5px 25px;

        }

        footer>a {
            font-size: 100%;
            letter-spacing: 35px;
        }

        .container {
            margin: 5px;
            padding: 20px;
        }

        .text {
            margin: 10% 10% 5%;
            width: 80%;
            font-size: smaller;
            position: relative;
        }

        .body img {
            width: auto;
            height: 600px;
            padding: 2% 20% 10%;
            border-radius: 20px;
        }

        .text li {
            margin-left: 15px;
            padding-left: 10px;
        }

        #alphabet {
            margin: 150px 3.5% 4;
        }

        .form-section {
            background-position: center;
            margin-top: 120px;
            height: 650px;
        }

        .signup-form {
            margin: 10%;
            width: 450px;
            left: 7%;
        }

        .signup-form h2 {
            font-size: 120%;
        }

        .text-input {
            width: 85%;
            height: 20px;
        }

        h2 i {
            font-size: 120%;
        }
    }

    /* Small screens (iPhones) */
    @media screen and (max-width: 577px) {

        header {
            padding: 5px;
        }

        h1 {
            letter-spacing: 3px;
            font-size: 130%;
            margin-top: 10px;
            margin-left: 25px;
            text-align: left;
        }

        h3 {
            font-size: 120%;
            display: none;
            margin: 0;
            padding-left: 10px;
            padding-right: 15px;
            margin-left: 15px;
        }

        .right li {
            font-size: 100%;
            text-transform: uppercase;
            margin-left: 5px;
        }


        ul {
            margin-bottom: 10px;
            padding-block-start: 10px;
            padding-inline-end: 10px;
        }

        .right a:hover {
            border-radius: 5px;
        }

        .active {
            border-radius: 5px;
        }

        #subheading h3 {
            position: relative;
            letter-spacing: 2px;
            margin: 0;
        }

        .left {
            margin: 0;
            margin-top: 35px;
        }

        .right {
            margin: 5px;
        }

        #subheading {
            font-size: 110%;
            width: 200px;
            height: 65px;
            padding: 15px 15px 5px 15px;
            left: 0;
        }

        #home-image {
            margin-top: 60px;
            height: 650px;
            /* padding-top: 50px; */
        }

        footer {
            height: 25px;
        }

        footer>a {
            font-size: 100%;
            letter-spacing: 5px;
        }

        footer>p {
            padding: 5px 15px;
            font-size: 55%;
        }

        .text {
            margin: 150px 40px 5px 5px;
            width: 90%;
            font-size: small;
        }

        .text li {
            padding-top: 4px;
            padding-left: 10px;
            font-size: inherit;
        }

        .body img {
            width: auto;
            height: 400px;
            position: inherit;
            padding: 0;
            border-radius: 70px;
        }

        #alphabet {
            margin: 150px 25% 50px 25%;
        }

        .form-section {
            clear: both;
            background-position: center;
            margin-top: 0;
            height: 600px;
        }

        .signup-form {
            font-size: smaller;
            width: 70%;
            margin-top: 20%;
            margin-left: 1%;
        }
    }
}