@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #6d1abb;
}

/* headings and logo */

header {
    padding: 35px 35px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 300%;
    color:#894ac5;
}

h3 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 110%;
    letter-spacing: 6px;
    color:#894ac5;
}
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#ul {
    list-style-type: none;
}

.right li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 150%;
    margin-right: 25px;
    margin-top: 25px;
}

.right a {
    text-decoration: none;
    color:inherit
}

.right a:hover {
    border-bottom: double #9972be;
}

/* .active  {
    background-color: #d0bddd;
} */

/* home-image */

.home-image {
    object-fit: cover;
    margin-top: 75px;
    height: 750px;
    width: 100%;
    background: url(../css/images/hero-image.jpg) no-repeat center center;
}

/* footer and media links */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

span {
    float: left;
    padding-left: 70px;
}

.footer-nav-social ul{
    list-style:none;
}

.footer-nav-social ul li{
    display:inline;
}

.footer-nav-social a{
        font-size: 150%;
        letter-spacing: 70px;
        text-decoration: none;
        /* position: relative; */
}

.footer-nav-social i {
        color:#6d1abb;
        text-decoration: none;
        float: right;
    }

/* About page */ 

.card {
    width: 47%;
    height: auto;
    display: absolute;
    padding-top: 5%;
    padding-left: 35px;
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

img {
    /* width: 65%;
    height: auto; */
    height: fit-content;
    /* object-fit: cover; */
    float: right;
    margin-right: 55px;
}

.container {
    display: relative;
}

.container ol {
    text-transform: uppercase;
}

.container li {
        text-transform: none;
        margin-left: 25px;
        padding-top: 5px;
        padding-left: 25px;
}

/* Media queries */

/* for medium screens size from 950px wide and down */
